<h1>NEW</h1>
<%= form_with model: @article do |t| %>
  <%= t.label :title, "Titre ?" %>
  <%= t.text_field :title %>
  <%= t.label :content, "Description ?" %>
  <%= t.text_field :content %>
  <%= t.submit %>
<% end %>
<%= link_to "Voir les taches", articles_path(), class:"btn btn-primary mt-3" %>
